services:

  bot:
    build:
      context: .
    volumes:
      - .:/workspace
    environment:
      - MATRIX_HOMESERVER=${MATRIX_HOMESERVER}
      - MATRIX_USER_ID=${MATRIX_USER_ID}
      - MATRIX_PASSWORD=${MATRIX_PASSWORD}
    # command: ["python", "bot.py"]
    command: sleep infinity  # keep container alive, run scripts manually

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"